{% extends 'layouts/application.html' %}

{% block content %}
<div>
  <header>
    <h1>Aaron Griffin</h1>
    <nav>
      <a href="">home</a>
      <a href="">blog</a>
      <a href="">about</a>
      <a href="">portfolio</a>
      <a href="">contact</a>
    </nav>
  </header>
  <main>
    <section>
      hey
    </section>
    <aside>
      <section>
      </section>
      <section>
      </section>
    </aside>
    <aside>
      <section>
      </section>
      <section>
      </section>
    </aside>
    <aside>
      <section>
      </section>
      <section>
      </section>
    </aside>
  </main>
  <footer>

  </footer>
</div>
{% endblock %}
