body {
  background: $body-bg;
  div, main, section, aside, header, footer {
    box-sizing: border-box;
  }
  > div {
    margin-top: 5px;
    border-radius: 5px;
    @include make-container-max-widths();
    @include make-container();
    background: #ccc;
    > header {
      @include make-row();
      background: $body-bg;
      height: 70px;
      border-radius: 1px 1px 0 0;
      justify-content: space-between;
      > h1 {
        @include make-col();
        @include make-col-span(4);
        align-items: flex-end;
        margin: 0;
        display: flex;
        font-family: 'Poiret One';
        font-weight: 400;
        font-size: 2.5rem;
      }
      > nav {
        @include make-col();
        @include make-col-span(7);
        align-items: flex-end;
        display: flex;
        justify-content: flex-end;
        > a {
          justify-content: center;
          text-decoration: none;
          font-size: 1.4rem;
          font-family: monospace;
          text-transform: uppercase;
          letter-spacing: .025rem;
          display: flex;
          align-items: center;
          padding: 7px 20px;
          color: #3a3a3a;
          &:hover {
            background: rgba(251,253,255,1);
          }
        }
        .active {
          background: rgba(255,253,251,.8);
        }
      }
    }
    > main {
      @include make-row();
      > section {
        $bannerHeight: 600px; // i guess you just make variables. prob should be at the top of the file?? or in the variables file duh. this one stays tho ._.
        height: $bannerHeight;
        background:white;
        position: relative;
        @include make-col();
        @include make-col-span(12);
        &:before {
          background: url(/images/bg.jpg) center center no-repeat;
          background-size: cover;
          filter: sepia(15%) hue-rotate(320deg); //orange
          content: '';
          display: block;
          position: absolute;
          width: calc(#{map-get($container-max-widths, lg)} - 30px); // that was fun c:
          height: calc(#{$bannerHeight} - 30px); // :D
          top: .9375rem;
        }
        &:after {
          background: rgba(10, 200, 240, .15); //lightblue
          content: '';
          display: block;
          z-index: 4;
          position: absolute;
          width: calc(#{map-get($container-max-widths, lg)} - 30px); // that was fun c:
          height: calc(#{$bannerHeight} - 30px); // :D
          top: .9375rem;
        }
        h2 {
          z-index: 3;
          position: absolute;
          font-size: 5rem;
          top: 70px;
          filter: sepia(100%) hue-rotate(320deg); //orange
          font-family: 'Oleo Script';
          color: #292929;
          right: 190px;
          margin: 0;
          &:after {
            content: 'i like nice pictures';
            display: block;
            white-space: nowrap;
            color: #202020;
            font-family: 'Amatic SC';
            position: absolute;
            font-size: 1.1rem;
            bottom: -2px;
            left: -17px;
          }
        }
      }
      > aside {
        @include make-col();
        @include make-col-span(12);
        padding-top: $grid-gutter-width;
        padding-bottom: $grid-gutter-width;
        align-items: center;
        justify-content: center;
        display: flex;
        &:nth-of-type(1){background:#2c2c2c;};
        &:nth-of-type(2){
          background:#444;
          > section {
            background: #ddd;
            &:nth-of-type(2){background:#eee;}
          }
        };
        &:nth-of-type(3){background:#333;};
        > section {
          background: #eee;
          &:nth-of-type(2){background:#ddd;}
          height: 300px;
          @include make-col();
          @include make-col-span(5);
        }
      }
    }
    > footer {
      @include make-row();
      background: tomato;
      height: 170px
    }
  }
}
